<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.css">
</head>
<body style="color:red" >
    <div>
        @RenderBody()
    </div>
    @RenderSection("scripts", false)

</body>
</html>
