
@{
    ViewData["Title"] = "CreatePresents";
}
@model ChristmasPresentsCreateVM
<h4 style="color:red">Give away a present:</h4>
<br />
<form asp-controller="ChristmasPresents" asp-action="CreatePresents">
    <div class="form-group">
        <label asp-for="Rhyme">Rhyme for Present: </label>
        <input asp-for="Rhyme" />
        <span asp-validation-for="Rhyme"></span>
    </div>
    <div class="form-group">
        <label asp-for="People">To Person: </label>
        <select asp-for="RecieverId" asp-items="Model.People"></select>
        <span asp-validation-for="RecieverId"></span>
    </div>
    <div class="row" style="margin-left:10px;">
        <button type="submit" class="btn btn-primary">Add</button>
        <a class="btn btn-secondary" asp-controller="" asp-action="">Back</a>
    </div>
</form>

