
@{
    ViewData["Title"] = "Index";
}
@model ChristmasIndexVM
<h1>All the people and their presents</h1>
<ul>
    @foreach (var person in Model.People)
    {
        <li>@person.Name <br />
        @foreach (var rhyme in person.Rhymes)
        {
            @rhyme<br />
        }</li>
    }
</ul>
<form asp-controller="" asp-action="">
    <label asp-for="CreateFormVM.Name"></label>
    <input asp-for="CreateFormVM.Name" placeholder="enter a name..." required class="form-control form-control-sm" />
    <input type="submit" value="Add" />
    <span asp-validation-for="CreateFormVM.Name"></span>
</form>
<a asp-controller="ChristmasPresents" asp-action="CreatePresents">Klick here to give away a present to someone you want</a>

