
@{
    ViewData["Title"] = "Index";
}
@model ChristmasIndexVM
<h4 style="color:red">All the people and their presents:</h4>
<br />
<div class="row">
    @foreach (var person in Model.People)
    {
        <div class="col-lg-3 col-mg-4 col-sm-6 col-xs-12">
            <div class="card text-white bg-success mb-3 " style="max-width: 20rem; margin-left: 2rem;">

                <div class="card-header">
                    @person.Name <br />
                </div>
                <div class="card-body">
                    @for (int i = 0; i < person.RhymesAndSender.Count; i++)
                    {
                        <p><strong style="color:chocolate">Present @(i + 1) From @person.RhymesAndSender[i].Item2:</strong> @person.RhymesAndSender[i].Item1</p>
                    }

                </div>
            </div>
        </div>

    }
</div>

<form asp-controller="" asp-action="" style="margin-top:50px;">
    <div class="form-group">
        <label asp-for="CreateFormVM.Name">Enter a Name:</label>
        <input asp-for="CreateFormVM.Name" placeholder="enter a name here..." required class="form-control form-control-sm" />
        <span asp-validation-for="CreateFormVM.Name"></span>
    </div>

    <div class="row" style="margin-left:10px;">
        <button type="submit" class="btn btn-primary">Add</button>
        <a asp-controller="ChristmasPresents" class="btn btn-secondary" asp-action="CreatePresents">Klick here to give away a present to someone you want</a>
    </div>

    @*<input type="submit" value="Add" />*@
</form>

